@model ShoppingCartViewModel
@{
    var items = Model.ShoppingCartItems;

}
<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        @if (items.Count == 0)
        {
            <div class="alert alert-warning text-center p-5">
                <span> Sepetinizde ürün bulunmamaktadır.</span>
            </div>
        }
        else
        {
           
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Ürün</th>
                                    <th>Fiyat</th>
                                    <th>Adet</th>
                                    <th>Tutar</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                           
                                else
                                {
                                    @foreach (var item in items)
                                    {
                                        <tr>
                                            <td class="cart__product__item">
                                                <img src="/images/products/@item.ProductImageUrl" alt="" style="height:100px;">
                                                <div class="cart__product__item__title">
                                                    <h6>@item.ProductName</h6>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="cart__price">@($"{item.ProductPrice:C0}")</td>
                                            <td class="cart__quantity">
                                                <div class="pro-qty">
                                                    <form id="form_qty_@item.Id"
                                                          asp-area="" asp-controller="ShoppingCart" asp-action="ChangeQuantity" method="post">
                                                        <input type="hidden" name="Id" value="@item.Id" />
                                                        <span onclick="decrement(quantity_@item.Id);document.getElementById('form_qty_@item.Id').submit()" id="dec_@item.Id" class="dec qtybtn">-</span>

                                                        <input type="text" name="quantity" id="quantity_@item.Id" value="@item.Quantity">

                                                        <span onclick="increment(quantity_@item.Id);document.getElementById('form_qty_@item.Id').submit()" id="inc_@item.Id" class="inc qtybtn">+</span>
                                                    </form>

                                                    @* <span onclick="decrement(quantity_@item.Id);" class="dec qtybtn">-</span>
                                            <input id="quantity_@item.Id" type="text" value="@item.Quantity">
                                            <span onclick="increment(quantity_@item.Id);" class="inc qtybtn">+</span> *@
                                                </div>
                                            </td>
                                            @{
                                                var total = item.ProductPrice * item.Quantity;
                                            }
                                            <td class="cart__total">@($"{total:C0}")</td>
                                            <td class="cart__close">
                                                <a
                                                  asp-area=""
                                                  asp-controller="ShoppingCart"
                                                  asp-action="DeleteItem"
                                                  asp-route-id="@item.Id"
                                            
                                                >  <span class="icon_close"></span></a>
                                            </td>

                                        @*     <td class="cart__close"><span onclick="deleteShoppingItem(deleteShopping_@item.Id)" class="icon_close"></span></td> *@
                                        </tr>

                                    }
                                }
                          
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="#">Alışverişe devam et</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a 
                            asp-area=""
                            asp-controller="ShoppingCart"
                            asp-action="ClearCart"
                            asp-route-id="@Model.Id">
                            <span class="icon_trash"></span> Sepeti Boşalt
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                        <h6>İndirim/Kampanya Kodu</h6>
                        <form action="#">
                            <input type="text" placeholder="Kodu yapıştırınız...">
                            <button type="submit" class="site-btn">Uygula</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Sepet Tutarı</h6>
                        <ul>
                            @{
                                var cartSubTotal = Model.TotalPrice() / 1.2m;// varsayılan vergi oranı %20
                                var cartTotal = Model.TotalPrice();
                            }
                            <li>KDV hariç tutar: <span>@($"{cartSubTotal:C0}")</span></li>
                            <li>KDV dahil tutar: <span>@($"{cartTotal:C0}")</span></li>
                        </ul>
                        <a 
                            asp-area=""
                            asp-controller="Order"
                            asp-action="Checkout"
                            class="primary-btn">Ödeme adımına geç</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Shop Cart Section End -->
@section Scripts {
    <script>
        function decrement(element) {
            let qty = element.value;
            if (qty > 1) {
                qty -= 1;
            } else {
                qty = 1;
            }
            element.value = qty;
        }

        function increment(element){
            let qty = Number(element.value);
            qty += 1;
            element.value = qty;
        }


        // function deleteShoppingItem(itemId) {
      
        //     ajax isteği gönder
        //     $.ajax({
        //         type: "post",
        //         url: "/shoppingcart/deleteıtem",
        //         data: { id: itemıd },
        //         success: function (response) {
        //             // silme başarılı olduysa, sayfayı yenile
        //             location.reload();
        //         },
        //         error: function () {
        //             alert("ürünü silme sırasında bir hata oluştu.");
        //         }
        //     });
        // }
    </script>
}